body {
    width: 1280px;
    margin: 0 auto;
    }

a {
    text-decoration: none;
}

ul li {
    display: inline-block;
}
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header a {
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    font-weight: 400;
    text-align: left;
}
header span {
    color: #4bcaff;
}
.first_menu {
   width: 100%;
   height: 69px;
   margin-top: 30px;
   font-size: 24px;
   font-weight: 400;
   text-align: center;
   background-color: #35444f;
   background-size: 100%;
   line-height: 69px;
}
.first_menu a {
    color: #ffffff;
}

.first_menu li {
    word-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
.first_menu li:hover {
    background: #222f3a
}
.container {
    width: 100%;
    vertical-align: top;
    height: 529px;
    margin-top: 50px;
    margin-right: 0;
}


.second_menu {
    width: 344px;
    height: 399px;
    border: 1px solid black;
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
}

.second_menu li {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    line-height: 79.8px;
    margin-left: 0;
    padding-left: 40px;
}

.second_menu a {
    color: #485863;
}
.second_menu li:hover {
    background-color: #c4ccd1;
    color: #000000;
    padding-left: 70px;
}

.picture {
    display: inline-block;
    width: 885px;
    height: 529px;
    border: 1px solid black;
    margin-right: 0px;
    margin-left: 45px;
    margin-top: 0;
    
}
.picture img {
    display: block;
    margin: 74px auto;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
    
}

.picture:hover img{
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    transition-timing-function: linear;
}

.text {
    width: 100%;
    margin-top: 40px;
    padding-right: 25px;
    text-align: left;
    padding-left: 440px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}
footer {
    width: 100%;
    height: 69px;
    margin: 0 0 20px 0;
    background-color: #919ba0;
} 
.bottom {
    width: 78%;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    line-height: 69px;
    margin-left: 20px;
}

.bottom li {
    text-align: center;
    padding-left: 20px;
    box-sizing: border-box;
}
.bottom a {
    font-size: 28px;
    color: #0c1927;
    font-weight: 500;
}
.bottom a:hover {
    color: #3181a6;
    text-decoration: underline;
}
aside {
    width: 20%;
    display: inline-block;
    height: 100%;
    padding-left: 45px;
    box-sizing: border-box;
    text-align: left;
    line-height: 69px;
    font-size: 24px;
    font-weight: 400;
}